ip.sprytnyk.dev {
    # Security headers
    header {
        X-XSS-Protection "1; mode=block"
        X-Content-Type-Options nosniff
        Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
    }

    # Reverse proxy requests to your backend (on localhost:8000)
    reverse_proxy api:8000
}

